{% set heroTitle = 'Privacy' %}
{# <h1 class="hero-default__title">Privacy</h1> #}
<div class="text">
	<div class="text__container">
		<div class="text__aside">
			<ul class="text__anchors">
				{% for i in range(1, 6) %}
					<li><a class="text__anchor js-text-anchor" href="#heading-{{ i }}">
						{{ inline('arrow-long-right') }}
						Heading {{ i }}
					</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="text__content">
			{% for i in range(1, 6) %}
				<h2 id="heading-{{ i }}">Heading {{ i }}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas id orci dignissim tincidunt. Phasellus tempor feugiat elementum. Nullam nec tellus justo. Praesent iaculis, felis sed auctor fermentum.</p>
				<p>Ante nibh lobortis orci, quis luctus nibh dui eget est. Nulla ultricies rutrum pellentesque. Vestibulum tristique, eros vel pretium ultrices, enim tortor ultrices eros, id placerat nisi lacus non augue. Etiam in nibh eget orci commodo accumsan. Nullam a odio varius, pharetra lacus in, consequat nulla. Morbi ultrices sagittis ultrices. Nam a rutrum augue. Nullam augue magna, auctor eu molestie eu, tincidunt eu magna. </p>
			{% endfor %}
		</div>
	</div>
</div>
